@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Pré definindo a barra de rolagem do navegador - Google */
::-webkit-scrollbar {
  margin-right: 30px;
  background-color: black;
  width: 0.8vw;
}

::-webkit-scrollbar-button{
  background-color: black;
}

::-webkit-scrollbar-thumb{
  background-color: #8c66d2;
  border-radius: 12px;

}

/* //////////////////// */

/* Pré definindo a barra de rolagem do navegador - Opera */
::-o-scrollbar {
  margin-right: 30px;
  background-color: black;
  width: 0.8vw;
}

::-o-scrollbar-button{
  background-color: black;
}

::-o-scrollbar-thumb{
  background-color: #8c66d2;
  border-radius: 12px;

}
*{
    color:#ffffff;
    font-family: 'Poppins', sans-serif; 
}

body {

    width: 100%;
  
    margin-right: -20%; 
    margin-left: 0%;
    background-repeat: no-repeat;
    background-color: black;
}

.container {
    display: flex;
    width: 80%;
    margin: 5%; 
    flex-direction: row;
}

.header {
    position: absolute; 
    top: 0; 
    width: 100%;
    height: 75px;
    background-color: #8c66d2;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-left: 0%;
    margin-right: 0%;
 
    /* box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.489); */
    padding: 0%;
    margin-top: 3%;
    border-radius: 300px 100px 300px 100px;
}

.header .container {
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 150px;
    border-radius: 100px;
}

.navbar {
    width: 700px;
    display: flex;
    list-style: none; 
    justify-content: space-evenly
}

.navbar li a {
    color: #000000;
    text-decoration: none; 
    font-size: 18px;
    font-weight: 600; 
    display: flex;
    margin-left: 0px;
    letter-spacing: 1px; 
}

.navbar li a:hover {
    color: #cea5e1;
    transition: 0.5s;
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.grafico-pizza{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin-top: 70px;

}
.color-txt{
  color: #8c66d2;
}

.all{
  width: 50%;
  /* border: #ffffff solid 1px; */
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.memoryGame{
  width: 50%;
  /* border: #ffffff solid 1px; */
  height: 50px;
}

.graph1{
  width: 50%;
  height: 50vh;
  border-right: #8c66d2 dotted 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius:90px; */
 
}
.graph{
  width: 50vw;
  height: 50vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}
#grafico{
  width: 50vw;
  height: 50vh;

}
.display{
  display: none;
}
#msg{
color: #fff;
width: 100%;
height: 20px;
text-align: center;
font-size: 33px;
}

.botao{
  width: 30vw;
  height: 50px;
  border-radius: 5px;
  border: 0;
  margin-top: 50px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
background-color: #8c66d2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px 5px #d6d3d3;
}

.botao:hover {background-color: #8c66d2a4}

.botao:active {
  background-color: #8c66d257;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
  cursor: pointer;
}
.img-Vetor{
  width: 150px;
  height: 150px;
}



footer {
  background-color:  #8c66d2;
  color: #ffffff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
 
}
